@font-face {
  font-family: Anurati;
  src: url('../font/Anurati-Regular.otf')
}

@font-face {
  font-family: Blanka;
  src: url('../font/Blanka-Regular.otf')
}

@font-face {
  font-family: Infinity;
  src: url('../font/Infinity.ttf')
}
