* {
  /* border: solid red 0.5px; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff; }

html,
body {
  height: 100%;
  background-color: cornflowerblue; }

.Triton {
  letter-spacing: 10px;
  font-family: Anurati;
  font-size: 20px; }

.highlight {
  /* padding-top:50%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url("../pic/bg1.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20%;
  padding-bottom: 5%;
  min-height: 102%; }

.desc {
  padding-right: 20%;
  text-align: initial;
  font-family: Arial, Helvetica, sans-serif;
  color: blanchedalmond;
  font-size: 20px;
  margin: 0 auto 0 auto; }

.logo {
  -webkit-filter: drop-shadow(-30px 10px 10px #111);
  filter: drop-shadow(-30px 10px 10px #111);
  margin: 10px; }

h1 {
  color: #fff; }

.learn-more {
  padding: 10px;
  -webkit-filter: drop-shadow(0px 5px 3px #000);
  filter: drop-shadow(0px 5px 3px #000); }

footer {
  padding-top: 10px;
  padding-left: 10%; }

.transition-panel {
  height: 10%;
  padding: 0 0 10px 0;
  text-align: center;
  margin: 0; }

.bg2 {
  background-image: url("../pic/about-triton.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100%; }

.bg3 {
  background-image: url("../pic/register.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 50%; }

.hidden {
  display: none; }

p {
  text-align: center; }

.category-item {
  text-align: center; }

.timeline {
  padding: 5% 0 10% 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }

.timeline li {
  list-style-type: none;
  width: 20%;
  float: left;
  position: relative;
  text-align: center; }

.timeline li:before {
  content: '';
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  border: solid orange 15px;
  margin: 0 auto 10px auto;
  border-radius: 50%; }

.timeline li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: orange;
  border: solid white 3px;
  top: 10px;
  left: -50%;
  z-index: -1; }

.timeline li:first-child::after {
  display: none; }

@font-face {
  font-family: Anurati;
  src: url("../font/Anurati-Regular.otf"); }

@font-face {
  font-family: Blanka;
  src: url("../font/Blanka-Regular.otf"); }

@font-face {
  font-family: Infinity;
  src: url("../font/Infinity.ttf"); }

.highlight .form {
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
  color: #7a7a7a;
  padding: 10px;
  display: block;
  margin-top: -150px; }
  .highlight .form h1 {
    font-weight: bolder;
    font-size: 2em;
    color: #363636;
    text-align: center;
    margin-bottom: 10px;
    text-transform: capitalize; }
  .highlight .form form {
    padding: 20px; }
  .highlight .form .checkbox {
    color: #363636; }
  .highlight .form .help {
    color: #4a4a4a; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9nbG9iYWwuc2NzcyIsIl9mb250cy5zY3NzIiwiX3JlZ2lzdHJhdGlvbi5zY3NzIiwiX3ZhcmlhYmxlcy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsOEJBQThCO0VBQzlCLCtCQUFzQjtFQUF0Qix1QkFBc0I7RUFDdEIsWUFBVyxFQUNaOztBQUdEOztFQUVFLGFBQVk7RUFDWixpQ0FBZ0MsRUFDakM7O0FBRUQ7RUFDRSxxQkFBb0I7RUFDcEIscUJBQW9CO0VBQ3BCLGdCQUFlLEVBQ2hCOztBQUVEO0VBQ0Usc0JBQXNCO0VBQ3RCLHFCQUFhO0VBQWIscUJBQWE7RUFBYixjQUFhO0VBQ2IsMEJBQThCO0VBQTlCLHVCQUE4QjtFQUE5QiwrQkFBOEI7RUFDOUIsNkJBQXNCO0VBQXRCLDhCQUFzQjtFQUF0QiwyQkFBc0I7RUFBdEIsdUJBQXNCO0VBQ3RCLHdDQUF1QztFQUN2Qyx1QkFBc0I7RUFDdEIsNkJBQTRCO0VBQzVCLGtCQUFpQjtFQUNqQixtQkFBa0I7RUFDbEIsaUJBQWdCO0VBQ2hCLG1CQUFrQjtFQUNsQixpQkFBZ0IsRUFDakI7O0FBSUQ7RUFDRSxtQkFBa0I7RUFDbEIsb0JBQW1CO0VBQ25CLDBDQUF5QztFQUN6QyxzQkFBcUI7RUFDckIsZ0JBQWU7RUFDZixzQkFBcUIsRUFDdEI7O0FBRUQ7RUFDRSxrREFBeUM7RUFBekMsMENBQXlDO0VBQ3pDLGFBQVksRUFDYjs7QUFFRDtFQUNFLFlBQVcsRUFDWjs7QUFFRDtFQUNFLGNBQWE7RUFDYiw4Q0FBcUM7RUFBckMsc0NBQXFDLEVBQ3RDOztBQUVEO0VBQ0Usa0JBQWlCO0VBQ2pCLGtCQUFpQixFQUNsQjs7QUFFRDtFQUNFLFlBQVc7RUFDWCxvQkFBbUI7RUFDbkIsbUJBQWtCO0VBQ2xCLFVBQVMsRUFDVjs7QUFFRDtFQUNFLGlEQUFnRDtFQUNoRCw2QkFBNEI7RUFDNUIsdUJBQXNCO0VBQ3RCLGFBQVksRUFDYjs7QUFFRDtFQUNFLDZDQUE0QztFQUM1Qyw2QkFBNEI7RUFDNUIsdUJBQXNCO0VBQ3RCLFlBQVcsRUFDWjs7QUFFRDtFQUNFLGNBQWEsRUFDZDs7QUFFRDtFQUNFLG1CQUFrQixFQUNuQjs7QUFFRDtFQUNFLG1CQUFrQixFQUNuQjs7QUFFRDtFQUNFLG9CQUFtQjtFQUNuQiw0QkFBbUI7RUFBbkIseUJBQW1CO0VBQW5CLG9CQUFtQixFQUNwQjs7QUFFRDtFQUNFLHNCQUFxQjtFQUNyQixXQUFVO0VBQ1YsWUFBVztFQUNYLG1CQUFrQjtFQUNsQixtQkFBa0IsRUFDbkI7O0FBRUQ7RUFDRSxZQUFXO0VBQ1gsWUFBVztFQUNYLGFBQVk7RUFDWixlQUFjO0VBQ2QsbUJBQWtCO0VBQ2xCLDBCQUF5QjtFQUN6Qix5QkFBd0I7RUFDeEIsbUJBQWtCLEVBQ25COztBQUVEO0VBQ0UsWUFBVztFQUNYLG1CQUFrQjtFQUNsQixZQUFXO0VBQ1gsYUFBWTtFQUNaLHlCQUF3QjtFQUN4Qix3QkFBdUI7RUFDdkIsVUFBUztFQUNULFdBQVU7RUFDVixZQUFXLEVBQ1o7O0FBRUQ7RUFDRSxjQUFhLEVBQ2Q7O0FDdklEO0VBQ0UscUJBQW9CO0VBQ3BCLHdDQUF1QyxFQUFBOztBQUd6QztFQUNFLG9CQUFtQjtFQUNuQix1Q0FBc0MsRUFBQTs7QUFHeEM7RUFDRSxzQkFBcUI7RUFDckIsaUNBQWdDLEVBQUE7O0FDWmxDO0VBR0UsbUJBQWtCO0VBQ2xCLFlBQVc7RUFDWCx1QkNIVTtFRElWLGVDSGE7RURJYixjQUFhO0VBQ2IsZUFBYztFQUNkLG1CQUFrQixFQXlCbEI7RUFsQ0Y7SUFZRyxvQkFBbUI7SUFDbkIsZUFBYztJQUNkLGVDVmE7SURXYixtQkFBa0I7SUFDbEIsb0JBQW1CO0lBQ25CLDJCQUEwQixFQUMxQjtFQWxCSDtJQXFCRyxjQUFhLEVBQ2I7RUF0Qkg7SUF5QkcsZUNyQmEsRURzQmI7RUExQkg7SUE2QkcsZUN4QlcsRUR5QlgiLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiKiB7XG4gIC8qIGJvcmRlcjogc29saWQgcmVkIDAuNXB4OyAqL1xuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICBjb2xvcjogI2ZmZjtcbn1cblxuXG5odG1sLFxuYm9keSB7XG4gIGhlaWdodDogMTAwJTtcbiAgYmFja2dyb3VuZC1jb2xvcjogY29ybmZsb3dlcmJsdWU7XG59XG5cbi5Ucml0b24ge1xuICBsZXR0ZXItc3BhY2luZzogMTBweDtcbiAgZm9udC1mYW1pbHk6IEFudXJhdGk7XG4gIGZvbnQtc2l6ZTogMjBweDtcbn1cblxuLmhpZ2hsaWdodCB7XG4gIC8qIHBhZGRpbmctdG9wOjUwJTsgKi9cbiAgZGlzcGxheTogZmxleDtcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xuICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoJy4uL3BpYy9iZzEuanBnJyk7XG4gIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gIGJhY2tncm91bmQtYXR0YWNobWVudDogZml4ZWQ7XG4gIG1hcmdpbi1sZWZ0OiBhdXRvO1xuICBtYXJnaW4tcmlnaHQ6IGF1dG87XG4gIHBhZGRpbmctdG9wOiAyMCU7XG4gIHBhZGRpbmctYm90dG9tOiA1JTtcbiAgbWluLWhlaWdodDogMTAyJTtcbn1cblxuXG5cbi5kZXNjIHtcbiAgcGFkZGluZy1yaWdodDogMjAlO1xuICB0ZXh0LWFsaWduOiBpbml0aWFsO1xuICBmb250LWZhbWlseTogQXJpYWwsIEhlbHZldGljYSwgc2Fucy1zZXJpZjtcbiAgY29sb3I6IGJsYW5jaGVkYWxtb25kO1xuICBmb250LXNpemU6IDIwcHg7XG4gIG1hcmdpbjogMCBhdXRvIDAgYXV0bztcbn1cblxuLmxvZ28ge1xuICBmaWx0ZXI6IGRyb3Atc2hhZG93KC0zMHB4IDEwcHggMTBweCAjMTExKTtcbiAgbWFyZ2luOiAxMHB4O1xufVxuXG5oMSB7XG4gIGNvbG9yOiAjZmZmO1xufVxuXG4ubGVhcm4tbW9yZSB7XG4gIHBhZGRpbmc6IDEwcHg7XG4gIGZpbHRlcjogZHJvcC1zaGFkb3coMHB4IDVweCAzcHggIzAwMCk7XG59XG5cbmZvb3RlciB7XG4gIHBhZGRpbmctdG9wOiAxMHB4O1xuICBwYWRkaW5nLWxlZnQ6IDEwJTtcbn1cblxuLnRyYW5zaXRpb24tcGFuZWwge1xuICBoZWlnaHQ6IDEwJTtcbiAgcGFkZGluZzogMCAwIDEwcHggMDtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICBtYXJnaW46IDA7XG59XG5cbi5iZzIge1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoJy4uL3BpYy9hYm91dC10cml0b24uanBnJyk7XG4gIGJhY2tncm91bmQtYXR0YWNobWVudDogZml4ZWQ7XG4gIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gIGhlaWdodDogMTAwJTtcbn1cblxuLmJnMyB7XG4gIGJhY2tncm91bmQtaW1hZ2U6IHVybCgnLi4vcGljL3JlZ2lzdGVyLmpwZycpO1xuICBiYWNrZ3JvdW5kLWF0dGFjaG1lbnQ6IGZpeGVkO1xuICBiYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xuICBoZWlnaHQ6IDUwJTtcbn1cblxuLmhpZGRlbiB7XG4gIGRpc3BsYXk6IG5vbmU7XG59XG5cbnAge1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG59XG5cbi5jYXRlZ29yeS1pdGVtIHtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xufVxuXG4udGltZWxpbmUge1xuICBwYWRkaW5nOiA1JSAwIDEwJSAwO1xuICBoZWlnaHQ6IGZpdC1jb250ZW50O1xufVxuXG4udGltZWxpbmUgbGkge1xuICBsaXN0LXN0eWxlLXR5cGU6IG5vbmU7XG4gIHdpZHRoOiAyMCU7XG4gIGZsb2F0OiBsZWZ0O1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbn1cblxuLnRpbWVsaW5lIGxpOmJlZm9yZSB7XG4gIGNvbnRlbnQ6ICcnO1xuICB3aWR0aDogMzBweDtcbiAgaGVpZ2h0OiAzMHB4O1xuICBkaXNwbGF5OiBibG9jaztcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICBib3JkZXI6IHNvbGlkIG9yYW5nZSAxNXB4O1xuICBtYXJnaW46IDAgYXV0byAxMHB4IGF1dG87XG4gIGJvcmRlci1yYWRpdXM6IDUwJTtcbn1cblxuLnRpbWVsaW5lIGxpOmFmdGVyIHtcbiAgY29udGVudDogJyc7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgd2lkdGg6IDEwMCU7XG4gIGhlaWdodDogMTBweDtcbiAgYmFja2dyb3VuZC1jb2xvcjogb3JhbmdlO1xuICBib3JkZXI6IHNvbGlkIHdoaXRlIDNweDtcbiAgdG9wOiAxMHB4O1xuICBsZWZ0OiAtNTAlO1xuICB6LWluZGV4OiAtMTtcbn1cblxuLnRpbWVsaW5lIGxpOmZpcnN0LWNoaWxkOjphZnRlciB7XG4gIGRpc3BsYXk6IG5vbmU7XG59XG4iLCJAZm9udC1mYWNlIHtcbiAgZm9udC1mYW1pbHk6IEFudXJhdGk7XG4gIHNyYzogdXJsKCcuLi9mb250L0FudXJhdGktUmVndWxhci5vdGYnKVxufVxuXG5AZm9udC1mYWNlIHtcbiAgZm9udC1mYW1pbHk6IEJsYW5rYTtcbiAgc3JjOiB1cmwoJy4uL2ZvbnQvQmxhbmthLVJlZ3VsYXIub3RmJylcbn1cblxuQGZvbnQtZmFjZSB7XG4gIGZvbnQtZmFtaWx5OiBJbmZpbml0eTtcbiAgc3JjOiB1cmwoJy4uL2ZvbnQvSW5maW5pdHkudHRmJylcbn1cbiIsIi5oaWdobGlnaHQge1xuXG5cdC5mb3JtIHtcblx0XHRib3JkZXItcmFkaXVzOiA1cHg7XG5cdFx0d2lkdGg6IDEwMCU7XG5cdFx0YmFja2dyb3VuZC1jb2xvcjogJHdoaXRlO1xuXHRcdGNvbG9yOiAkcmVkdXA7XG5cdFx0cGFkZGluZzogMTBweDtcblx0XHRkaXNwbGF5OiBibG9jaztcblx0XHRtYXJnaW4tdG9wOiAtMTUwcHg7XG5cdFx0XG5cdFx0aDEge1xuXHRcdFx0Zm9udC13ZWlnaHQ6IGJvbGRlcjtcblx0XHRcdGZvbnQtc2l6ZTogMmVtO1xuXHRcdFx0Y29sb3I6ICR0ZXJhbmc7XG5cdFx0XHR0ZXh0LWFsaWduOiBjZW50ZXI7XG5cdFx0XHRtYXJnaW4tYm90dG9tOiAxMHB4O1xuXHRcdFx0dGV4dC10cmFuc2Zvcm06IGNhcGl0YWxpemU7XG5cdFx0fVxuXG5cdFx0Zm9ybSB7XG5cdFx0XHRwYWRkaW5nOiAyMHB4O1xuXHRcdH1cblx0XHRcblx0XHQuY2hlY2tib3gge1xuXHRcdFx0Y29sb3I6ICR0ZXJhbmc7XG5cdFx0fVxuXG5cdFx0LmhlbHAge1xuXHRcdFx0Y29sb3I6ICRoZWxwXG5cdFx0fVxuXG5cblxuXHR9XHRcblxuXG5cblxufVxuIiwiXG4vLyBDb2xvclxuJHdoaXRlOiAjZmZmO1xuJHJlZHVwOiAjN2E3YTdhO1xuJHRlcmFuZzogIzM2MzYzNjtcbiRoZWxwOiAjNGE0YTRhO1xuIl19 */
